.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "Montserrat";
}
.container-2 {
    display:flex;
    width: 100%;
    height: auto;
}

.navbar {
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: start;
}
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-left: 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
}

.nav-links li .btn {
    background-color: #00bcd4;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    font-size: 12px;

}
li .btn:hover{
    background-color: #50929b;
}
main {
    flex:3;
}
aside.col {
    flex:1;
    display: flex;
    flex-direction: column;
}
.imagenperfil {
    width: 130px;
    height: auto;
    margin: -45px 20px 10px;
    display: block;
    border-radius: 50%;
    background-color: green;
    z-index:1;
    border: 2px solid white;
}
.tarjeta {
    width: 90%;
    height: auto;
    border-radius: 3%;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
.barra-superior{
    width: auto;
    height: 80px;
    background-color: #00bcd4;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.btn-con-img {
    font-family: "Montserrat";
    padding: 10px 20px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    border-radius: 5px;
    cursor:pointer;
    border:none;
    margin: 15px;
}
.icono {
    width:20px;
    height: 20px;
    margin-right: 10px;
}
p {
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
}
.conexion {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 3%;
    margin: 15px ;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.titulo {
    padding: 12px;
    display: flex;
    align-self: center;
}
.educacion {
    width: 90%;
    height: auto;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
}


.tusconexiones {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 3%;
    margin: 15px ;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactos {
    text-decoration: none;
    list-style-type: none;
    display:flex;
    flex-direction: column;
}
.imagencontacto {
    width: 15%;
    margin-right: 15px;
}
.acciones {
    display: flex;
    gap: 10px;
    padding: 2px;
}